.spinner {
  height: 24px;
  width: 24px;
  background-color: hotpink;
  animation: spin 2s linear infinite alternate;
  -webkit-animation: spin 2s linear infinite alternate;
}

.spinner:hover {
  animation: normal;
  -webkit-animation: normal;
}

@keyframes spin {
  0% {
    transform: perspective(100px) rotate(0deg);
    -webkit-transform: perspective(100px) rotate(0deg);
    -moz-transform: perspective(100px) rotate(0deg);
    -ms-transform: perspective(100px) rotate(0deg);
    -o-transform: perspective(100px) rotate(0deg);
    background-color: red;
  }
  50% {
    transform: perspective(100px) rotateZ(180deg);
    -webkit-transform: perspective(100px) rotateZ(180deg);
    -moz-transform: perspective(100px) rotateZ(180deg);
    -ms-transform: perspective(100px) rotateZ(180deg);
    -o-transform: perspective(100px) rotateZ(180deg);
    background-color: blue;
}
  100% {
    transform: perspective(100px) rotateX(-180deg) ;
    -webkit-transform: perspective(100px) rotateX(-180deg) ;
    -moz-transform: perspective(100px) rotateX(-180deg) ;
    -ms-transform: perspective(100px) rotateX(-180deg) ;
    -o-transform: perspective(100px) rotateX(-180deg) ;
}
}
